import /microtrust.rc

on early-init
    # Set the security context of /postinstall if present.
    restorecon /postinstall

    # Copy prebuilt ld.config.txt into linkerconfig directory
    copy /system/etc/ld.config.txt /linkerconfig/ld.config.txt
    chmod 444 /linkerconfig/ld.config.txt

    start ueventd


on init
export LD_LIBRARY_PATH /system/lib:/vendor/lib:/vendor/lib/hw:/system/lib/hw

    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 0

on fs

    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd
install_keyring
setprop crypto.ready 1
    mkdir /dev/usb-ffs 0775 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

on post-fs
    # Support A/B feature for emmc boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    user root
    group root system
    seclabel u:r:recovery:s0


service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
sclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root drmpc
seclabel u:r:recovery:s0


service keystore /system/bin/keystore /data/misc/keystore
    user root
    group root drmrpc readproc log
    writepid /dev/cpuset/foreground/tasks
sclabel u:r:recovery:s0

service wait_for_keymaster /system/bin/wait_for_keymaster
    user root
    group root system
    priority -20
    ioprio rt 0
sclabel u:r:recovery:s0


on boot
start teei_daemon
start vendor.gatekeeper-1-0
start keymaster-4-0
start keymaster_attestation-1-1
start health-2-0





