import /microtrust.rc
import /uncrypt.rc
on init
class_start early_hal
load_persist_props
    mkdir /mnt/vendor/persist 0700 root root
    #mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist
    export LD_LIBRARY_PATH /system/lib:/vendor/lib:/vendor/lib/hw:/system/lib/hw

    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

on post-fs
    # Support A/B feature for emmc boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

on fs
    install_keyring
    setprop crypto.ready 1


on boot
wait_for_prop hwservicemanager.ready "true"
exec_start update_verifier
start uncrypt
start teei_daemon
start keymaster-4-0
start keymaster_attestation-1-1
start gatekeeper-1-0
start health-hal-2-1
start beanpod_check_keybox_service
start gatekeeperd

service beanpod_check_keybox_service /vendor/bin/bp_kmsetkey_ca -c
    class late_start
    user system
    group system
    oneshot
seclabel u:r:recovery:s0

service gatekeeperd /system/bin/gatekeeperd /data/misc/gatekeeper
    class late_start
    user system
    writepid /dev/cpuset/system-background/tasks
seclabel u:r:recovery:s0

service keystore /system/bin/keystore /data/misc/keystore
    class main
    user keystore
    group keystore drmrpc readproc log
    writepid /dev/cpuset/foreground/tasks
seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
class late_start
    user system
    group system
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
class early_hal
    user system
    group system drmrpc
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
 class hal
    user system
    group system
    disabled
seclabel u:r:recovery:s0


on property:crypto.ready=1
start teei_daemon
start keymaster-4-0
start keymaster_attestation-1-1
start gatekeeper-1-0

on property:ro.crypto.state=encrypted
start teei_daemon
start keymaster-4-0
start keymaster_attestation-1-1
start gatekeeper-1-0

on property:hwservicemanager.ready=true
start teei_daemon
start gatekeeperd
    start keymaster-4-0
    start gatekeeper-1-0
    start keymaster_attestation-1-1
   
    
on property:ro.crypto.state=unsupported
    stop teei_daemon
stop gatekeeperd
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
   

on property:ro.crypto.state=unencrypted
    stop teei_daemon
stop gatekeeperd
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
   

on property:twrp.decrypt.done=true
    stop teei_daemon
stop gatekeeperd
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
  

   

   
